/**
 * List
 **/

.list {
	padding: 0;
	// border-bottom: 1px solid #ccc;
	//border-radius: 3px;

  .list--item{
		list-style: none;
		padding: 10px;
		margin: 0;
		margin-bottom: 7px;
		background-color: #fff;
		border-left: 4px solid #2ebaff;
	}
}
